h1 {
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    color: #A57D5C;
    font-size: 2rem;
}

h3 {
    text-align: center;
}
header h3 {
    color: #f3f3f3;
    font-size: 2.5rem;
    margin-top: -1rem;
    text-shadow: 5px 5px 2px #000;
}

footer h2 {
    color: white;
}

/*  ################################################################ 
    ################ Design d'un élément de la carte ###############
    ################################################################*/

.foodCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0 1.5rem 0;
}

.foodCardContainer .foodCard {
    width: 150px;
    margin-bottom: 1rem;
}

.foodCard .foodCardImg {
    height: 150px;
    width: 100%;
}

.foodCard .foodCardImg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.foodCard:hover .foodCardImg img {
    transform: translateY(-15px);
    transition: .3s;
}

.foodCard .foodCardDesc h3 {
    color: #A57D5C;
    margin: 0.5rem 0;
}

.foodCard .foodCardDesc p {
    text-align: center;
    margin: 0 0.2rem;
    font-size: 0.9rem;
}

