h1 {
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Dancing';
    text-align: center;
    color: #A57D5C;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Dancing';
    font-size: 1.4rem;
    text-align: center;
}

h4 {
    font-family: 'Dancing';
    text-align: center;
    margin-bottom: 10px;
}

header h3 {
    color: #f3f3f3;
    font-size: 2.5rem;
    margin-top: -1rem;
    text-shadow: 5px 5px 2px #000;
}

.overlay h3 {
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 1.8rem;
    color: #A57D5C;
    margin: 1.5rem;
    text-shadow: 2px 2px 2px black;
}

.menuLinks .connect {
    display: flex;
    margin-bottom: 1rem;
}

.menuLinks .connect h3 {
    font-size: 1rem;
    align-self: flex-end;
}

footer h2 {
    color: white;
}

/*  ################################################################ 
    ################ Design d'un élément de la carte ###############
    ################################################################*/

.foodCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0 1.5rem 0;
}

.foodCardContainer .foodCard {
    width: 300px;
    margin-bottom: 3rem;
}

.foodCard .foodCardImg {
    height: 250px;
    width: 100%;
}

.foodCard .foodCardImg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.foodCard:hover .foodCardImg img {
    transform: translateY(-15px);
    transition: .3s;
}

.foodCard .foodCardDesc h3 {
    color: #A57D5C;
    margin: 0.5rem 0;
}

.foodCard .foodCardDesc p {
    text-align: center;
    margin: 0 0.2rem;
    font-size: 0.9rem;
}

@media (min-width: 600px) {
    header {
        margin-bottom: 2rem;
    }

    .overlayMenuBurger {
        display: none;
    }
    
    .burgerMenuIcon {
        display: none;
    }

    .menuLinksDesktop {
        display: block !important;
        width: 60%;
        display: flex !important;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1rem;
    }

    .menuLinksDesktop .connect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        margin-right: 1rem;
        margin-top: 0.3rem;
    }

    .menuLinksDesktop .connect h3 {
        font-size: 0.5rem;
    }

    .menuLinksDesktop a {
        color: white;
        font-size: 0.8rem;
    }

    .menuLinksDesktop h3 {
        font-family: 'Montserrat';
        font-size: 0.7rem;
    }

    .foodCardContainer {
        width: 85%;
        margin-left: 7.5%;
    }
}