header h3 {
    color: #f3f3f3;
    font-size: 2.5rem;
    margin-top: -1rem;
    text-shadow: 5px 5px 2px #000;
    font-family: 'Dancing';
}

@media (min-width: 1200px) {
    header {
        margin-bottom: 2rem;
    }

    header .menuLinksDesktop {
        width: 60%;
    }

    header .menuLinksDesktop h3 {
        font-family: 'Montserrat';
        font-size: 1.2rem;
    }

    header .menuLinksDesktop div a {
        margin-right: 2rem;
    }
    
    h1 {
        margin-bottom: 2rem;
    }
}